---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>About | Mineral Map</title>
		<link rel="stylesheet" href="/src/styles/theme.css" />
	</head>
	<body>
		<div class="container">
			<h1>About</h1>
			<p>This site provides information and videos about minerals in the Calvin University Mineral Museum.</p>
			<a href="/">&#8592; Back to Home</a>
		</div>
	</body>
</html>
