---
const currentYear = new Date().getFullYear();
---

<footer class="footer footer-center p-10 bg-primary text-primary-content">
  <aside>
    <p class="font-bold text-lg">Mineral Map</p>
    <p class="text-sm opacity-75 mt-2">Copyright © {currentYear} - All rights reserved</p>
  </aside>
</footer>
